In [74]:
import pandas as pd
from data_structures.Entity import Entity
import pickle as pkl

## Read all the datasets

In [75]:
df_title_principals = pd.read_csv('data/title.principals.tsv', sep='\t')

In [76]:
df_title_basics = pd.read_csv('data/title.basics.tsv', sep='\t')

C:\Users\Joker\AppData\Local\Temp\ipykernel_22268\1360507073.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_title_basics = pd.read_csv('data/title.basics.tsv', sep='\t')

In [77]:
df_name_basics = pd.read_csv('data/name.basics.tsv', sep='\t')

## Debug

In [78]:
year = '2013'
print(len(df_title_basics))
df_title_basics_certainyear = df_title_basics[df_title_basics['startYear'] == year]
print(len(df_title_basics_certainyear))

10225586
346603

In [56]:
for year, films_peoples in years.items():
    if films_peoples["Films"] != []:
        print("YEAR: ", year)
        print("FILMS: ")
        for f in films_peoples["Films"]:
            print("\t", f)
        print("PEOPLE: ")
        for p in films_peoples["People"]:
            print("\t", p)

YEAR:  1990
FILMS:
	 Klebolin klebt alles
	 Mutterliebe
PEOPLE:
	 Ernst Behmer
	 Victor Colani
	 Curt Bois
	 Heinrich Bolten-Baeckers
	 Alfred Duskes
	 Charles Paulus
	 Curt Bois
	 Alfred Duskes
	 Charles Paulus
YEAR:  1993
FILMS:
	 Dama de noche
PEOPLE:
	 Hubert Barrero
	 Rafael Sánchez Navarro
	 Cecilia Toussaint
	 Miguel Córcega
	 Regina Orozco
	 Eva López Sánchez
	 David Martin del Campo
	 Gustavo Montiel Pagés
	 José Elorza
	 Rodrigo Prieto
YEAR:  2000
FILMS:
	 La tierra de los toros
PEOPLE:
	 Antonio Cañero
	 Musidora
YEAR:  2019
FILMS:
	 Tötet nicht mehr
PEOPLE:
	 Rudolf Klein-Rhoden
	 Lupu Pick
	 Edith Posca
	 Johannes Riemann
	 Fritz Schulz
	 Gerhard Lamprecht
	 Ivar Petersen
	 Albert Patry
	 Eduard Rothauser
	 Bernhard Goetzke
YEAR:  2021
FILMS:
	 Istoriya grazhdanskoy voyny
PEOPLE:
	 Nikolai Izvolov
	 Dziga Vertov
	 Konstantin Grinberg

## Make large data structure by year

In [79]:
# Initialize data structure
items_for_year = {"Films": [], "People": []}

In [80]:
# Loop through films and add corresponding year, titles, and people
count = 0
for index, row in df_title_basics_certainyear.iterrows(): #
    #print(row)

    # Get attributes, mainly for the year
    title_id = row['tconst']
    title_name = row['originalTitle']
    title_startyear = row['startYear']
    title_endyear = row['endYear']

    #print("TITLE NAME: ", title_name)
    #print("TITLE YEAR: ", title_startyear)
    
    if title_endyear != "\\N": # TV series
        years_to_add = [i for i in range(title_startyear, title_endyear+1)]
    elif title_startyear == "\\N": # unknown
        continue
    else: # film
        years_to_add = [title_startyear]

    #print("YEARS TO ADD: ", years_to_add)

    # Get people in film/series
    df_title_people_ids = df_title_principals[df_title_principals['tconst'] == title_id]
    people_names = []

    for index_people, row_people in df_title_people_ids.iterrows():
        person_name_lst = df_name_basics[df_name_basics['nconst'] == row_people['nconst']]['primaryName'].tolist()
        people_names.append(Entity(person_name_lst[0]))
    
    #print("PEOPLE NAMES: ", people_names)

    # for each year in years_to_add, add those people and the film name
    for year in years_to_add:
        film_entity = Entity(title_name)
        items_for_year["Films"].append(film_entity)
        items_for_year["People"].extend(people_names)

        #print(year, years[year])
    print(count)
    count += 1

with open("data/"+str(year)+".pkl", 'wb') as file:
    pkl.dump(items_for_year, file)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187

TypeError: can only concatenate str (not "int") to str